/*CSS document*/

body {
    
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
background-color: rgb(255, 249, 240);

}

header h1 {
    max-width: 12em;
    margin: auto;
    padding-top: 0.5em;
}


div.container {
    max-width: 80em;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
}

header nav {
    display: inline;
    text-align: center;
}

nav ul li {
    list-style: none;
    margin-right: 1em;
    display: inline;
    
}

nav ul li a {
      text-decoration:none;
      color: rgb(176,107,66);
      font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

figure {
    margin: 0;
}

H2
{
color: rgb(176,107,66);
}

H3
{
  color: rgb(176,107,66);  
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

a{ 
    text-decoration: none;
    color:rgb(0,0,0)}

mainarea {
    max-width: 40em;
    margin: 0 auto 3em;
}

.gallery {
    padding: 1em; 
    margin-bottom: 1em;
    background-color: rgb(244,237,228)
}

section{
    max-width: 40em;
    margin: 0 auto 3em;
}
.mainstory {
    padding: 1em; 
    margin-bottom: 1em;
    background-color: rgb(244,237,228)
}

.baseimages{
margin-bottom: 1em;
padding: 1em;
background-color: rgb(244,237,228) 
}

.supplements {
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgb(244,237,228)}
}

main.gallery{
    position: relative;
    overflow: hidden;
    padding-bottom: calc(56% + 3em);
}
    
figure.gallery {
    margin: 0em 0em 1em 0em;
    width: 100%;
    position: absolute;
    transition: left 0.5s, opacity 0.5s;
    opacity: 0;
    left:100%
    }

input:nth-of-type(1):checked~ main figure: nth-of-type(1),
input:nth-of-type(2):checked~ main figure: nth-of-type(2),
input:nth-of-type(3):checked~ main figure: nth-of-type(3),
input:nth-of-type(4):checked~ main figure: nth-of-type(4),
input:nth-of-type(5):checked~ main figure: nth-of-type(5),
input:nth-of-type(6):checked~ main figure: nth-of-type(6),
input:nth-of-type(7):checked~ main figure: nth-of-type(7),
input:nth-of-type(8):checked~ main figure: nth-of-type(8),


    
nav.gallery{
    display: flex;
    flex-wrap: wrap;
}

label{
    flex:1 0 8em;
}

input{
    display:none;
}

figcaption {
    text-decoration:none;
    color: rgb(176,107,66);
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 60em) {
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }
    
    header{
    grid-column: 1/3;
} 

main.mainhomepage {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }

aside {
grid-column: 2/3;
}
    
 footer {
        grid-column: 1/3;
    }
    
section.mainstory {
        grid-column: 2/4;
        grid-row: 1/2;


    

    
