/* CSS DOCUMENT */

h1 {  color: rgb(255, 255, 255);
      font-size: 3em;
      background-color: rgb(69, 133, 124);
      padding: 0em 4em 0em 4em; 
      text-tranform: uppercase;
      
    }

h2 { color:rgb(69, 133, 124);
     font-size: 3em;
     text-tranform: uppercase;
      
    }

h3 {
      color: rgb(228, 140, 118);
      font-size: 2em;
      text-tranform: uppercase;
      
    }

h4 { 
      
    }
