/* CSS DOCUMENT */

h1 {  color: rgb(255, 255, 255);
      font-size: 5em;
      background-color: rgb(69, 133, 124);
      margin: 
      padding: 1em 1em 1em 1em; 
      
    }

h2 { color:rgb (69, 133, 124);
      font size: 3em;
    }

h3 {
      color: rgb (228, 140, 118);
      font size: 2em;
